<div class="sidebar-container">
    <div class="sidebar-header">
      <div class="sidebar-title">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </div>
    </div>
    
    <mat-divider class="sidebar-divider"></mat-divider>
    
    <div class="sidebar-section">
      <div class="sidebar-section-title">Main</div>
      
      <mat-nav-list class="sidebar-nav-list">
        <a mat-list-item routerLink="/users" routerLinkActive="active" class="sidebar-nav-item">
          <mat-icon matListItemIcon>people</mat-icon>
          <span matListItemTitle>Users</span>
        </a>
        
        <a mat-list-item routerLink="/tickets" routerLinkActive="active" class="sidebar-nav-item">
          <mat-icon matListItemIcon>card</mat-icon>
          <span matListItemTitle>Tickets</span>
        </a>
        
      
     
      </mat-nav-list>
    </div>
    
  
    
    <div class="sidebar-footer">
      <div class="sidebar-version">
        <span> Tickets v1.0</span>
      </div>
    </div>
  </div>
  